.App {
  text-align: center;
}

.product-list {
  list-style: none;
}

.product-item {
  margin: 10px;
  text-align: center;
}

.product-image {
  height: 300px; /* Ajusta según tus preferencias */
}

.product-name {
  font-family: 'Oswald Bold', sans-serif;
  font-size: 30px; /* Ajusta según tus preferencias */
  margin-top: 00px; /* Ajusta según tus preferencias */
}


li img {
  margin-top: 40px;
  height: 300px;
}

li p {
  font-family: 'Oswald Bold', sans-serif;
  font-size: 50px;
}